:root{
    --primario: #da595e;
    --obscuro: #484848;
    --claro: #ffffff;
}

*, *:before, *:after{
    box-sizing: inherit;
} 


body{
    margin: 0;
    font-size: 16px;
    background-color: #F7F7F7;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.6rem;
    font-weight: 400;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

h2{
    font-size: 2rem;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

h3{
    font-size: 1.8rem;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

nav{
    background:white;
    height: 80px;  
    width: 100%; 
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.1);
}

nav ul{
    float:  right;
    margin-right: 20px;
}
nav ul:last-child{
    margin-right: 100px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a{
    color:  #2c3e50;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px ;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
    background: #E5242B;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.logo{
    width: 24rem;
    margin-left: 15rem;
    margin-top: 0.5rem;
}

@media (max-width: 1040px){
    .logo{
        width: 10rem;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 1135px){
    
    nav ul{
        margin-right: 0px;
    }
    nav ul:last-child{
        margin-right: 0px;
    }
}

@media (max-width: 1020px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -200%;
        text-align: center;
        z-index: 1000;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
        color:whitesmoke;
    }

    a:hover{
        background: none;
        color: #E5242B;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .logo{
        width: 15rem;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
}


/**-------------------------------------------- Editar para productos nuevos ------------------------------------**/


.cont{
    max-width: 90rem;
    margin: 0 auto;
    border: 0.01rem solid gainsboro;
    margin-top: 5rem;   
    background-color: #ffffff; 
}

.principal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 10rem);
}




.contenedor-imagenes{
    grid-column: 2/3;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

h2{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-left: 2rem;
    align-self: center;
    justify-self: center;
}

.fila1{
    grid-column: 1/2;
    grid-row: 2/3;
}

.fila2{
    grid-column: 1/2;
    grid-row: 3/4;
}

.fila3{
    grid-column: 1/2;
    grid-row: 4/5;
}
.fila4{
    grid-column: 1/2;
    grid-row: 5/6;
}

.formulario input[type="submit"]{
    grid-column: 1/3;
    grid-row: 6/7;
    background-color: #E5242B;
    border: none;
    color: #ffffff;
    width: 95%;
    height: 60%;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.formulario-grupo input, .formulario-grupo textarea, .formulario-grupo select{
    margin-left: 2rem;
    width: 80%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.formulario-grupo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.row1{
    grid-column: 1/2;
}

.row2{
    grid-column: 2/3;
}

.row1 input{
    width: 80%;
}

.row2 input{
    width: 100%;
}


.formulario-grupo label
{
    display: block;
    margin-left: 2rem;
    width: 80%;
}

.profile-pic-div1,.profile-pic-div2,.profile-pic-div3,.profile-pic-div4{
    height: 90%;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#photo{
    height: 100%;
    width: 100%;
}


.profile-pic-div1 label,.profile-pic-div2 label,.profile-pic-div3 label,.profile-pic-div4 label{
    margin-top: 2rem;
}

#uploadbtn1,#uploadbtn2,#uploadbtn3,#uploadbtn4{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: rgba(170, 170, 170, 0.7);
    color: var(--blanco);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: none;
    
}

#photo1{
    height: 100%;
    width: 100%;
}
#photo2{
    height: 100%;
    width: 100%;
}
#photo3{
    height: 100%;
    width: 100%;
}
#photo4{
    height: 100%;
    width: 100%;
}

