<!DOCTYPE html>
<html>
<head>
	<title>Cuenta</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{css}}">
</head>

<body class="bg-light">
    <nav>
        <input type="checkbox" id= "check">
        <label for="check" class="checkbtn">
            <li class="fas fa-bars"></li>
        </label>

        <img src="{{logo}}" class="logo">
        <ul>
            <li><a href="..//" id="inicio">Inicio</a></li>
            <li><a href="../mis_actividades" id="miactiv">Mis actividades</a></li>
            <li><a href="../nueva_actividad" id="newact">Nueva actividad</a></li>
            <li><a href="../cuenta" id="micuenta">Cuenta</a></li>
			<li><a href="../cerrar_sesion" id="cerrar_sesion">Cerrar Sesion</a></li>
        </ul>
    </nav>
	
	<div class="container">
     	<div class="row d-flex justify-content-center">
            <div class="col-md-10 mt-5 mb-5 pt-5">
             	<div class="row z-depth-3">
					<!--Cuadro Blanco-->
					{% for row in informacion %}
            		<div class="col-sm-12 bg-white rounded-right">
                    	<h3 class="mt-3 text-center">{{row[1]}}</h3>
                    	<hr class="bg-primary mt-0 w-50">

                   		<div class="row">
							<div class="col-sm-4  rounded-left contenedor-img">
								
							   <div class="row">
								   <div class="col-sm-6 card-block text-center text-white">
									   <img src="/static/{{row[6]}}">
								   </div>
								   <div class=" col-sm-6 card-block text-center text-white">
									   <img src="">
								   </div>
							   </div>
							  
							   <div class="row mt-2">
								   <div class="col-sm-6 card-block text-center text-white">
									   <img src="">
								   </div>
								   <div class=" col-sm-6 card-block text-center text-white">
									   <img src="">
								   </div>
							   </div>

                               <div class="row">
                                <form class="form-group col-sm-12 text-center" action="#" method="POST">
									<input type="hidden" value="{{row[0]}}" name="idevento"></input>
                                    <input type="submit" class="btn btn-danger w-100" name="eliminar" value="eliminar"></input>
                                </form>
                            </div>
                            
							   
						
							   
						    </div>

						   
                        	<div class="col-sm-8">
                            	<p class="font-weight-bold">Descripcion de la actividad:</p>
                           		<h6 class=" text-muted">{{row[2]}}</h6>
                        	</div>
                        	<div class="col-sm-4 text-center">
                            	<p class="font-weight-bold">Fecha:</p>
                           		<h6 class="text-muted">{{row[3]}}</h6>
                        	</div>
                        	<div class="col-sm-4 text-center">
                           		<p class="font-weight-bold">Hora</p>
                          	  	<h6 class="text-muted">{{row[4]}}</h6>
                        	</div>
							<div class="col-sm-4 text-center">
								<p class="font-weight-bold">Precio</p>
								 <h6 class="text-muted">Q{{row[5]}}</h6>
						     </div>
                    	</div>
						{% endfor %}

                	   	<hr class="bg-primary">

						<!--Apartado de los comentarios-->
						<h3 class="mt-3 text-center">Comentarios</h3>
                    	<hr class="bg-primary mt-0 w-50">
						<div class="row">

							{% for row in comentarios %}
                        	<div class="col-sm-10">
                            	<p class="font-weight-bold">Comentario de: {{row[1]}}</p>
                           		<h6 class="text-muted">{{row[2]}}</h6>
                        	</div>
                            <form class="form-group text-center col-sm-2" action="#" method="POST">
								<input type="hidden" name="idcomentario" value="{{row[0]}}"></input>
								<input type="submit" class="btn btn-danger" name="Borrar" value="Borrar"></input>
							</form>	
							{% endfor %}
                    	</div>
              		</div>
             	</div>
            </div>
        </div>
	</div>
</body>
</html>